body, html {
  margin: 0;
  font-family: 'Mooli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/bg.jpg');

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  text-decoration: none!important;
  cursor: pointer;
}

.background {
  background-image: url("/src/assets/5973282.png");

}